
<div class="color-container">
    <div class="poke-card">
        @* <TextPanel /> *@
        <div class="img-panel">
            <PokemonSearchGrid />
        </div>
    </div>
</div>


@code {

}


