<div class="poke-name panel screen">
    <span class="pokemon-name" >@nameRepo.Name </span >
    <span class="pokeId" >@nameRepo.PokemonId </span >
</div>

@inject ISelectedPokemonRepository nameRepo
@code {

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(nameRepo.Name) || string.IsNullOrEmpty(nameRepo.PokemonId))
        {
            await nameRepo.Load();
        }

        InvokeAsync(StateHasChanged);
    }
}
