<div class="poke-name panel screen">
    <span class="pokemon-name" >@nameRepo.Pokemon.Name </span >
    <span class="pokeId" >@nameRepo.Pokemon.Id </span >
</div>

@inject ISelectedPokemonRepository nameRepo
@code {

    protected override async Task OnInitializedAsync()
    {
        if (nameRepo.Pokemon == null)
        {
            await nameRepo.Load();
        }

        InvokeAsync(StateHasChanged);
    }
}
